<% include ./partials/header.ejs %>
<div class="w-full h-screen bg-black ">
    <div class="flex py-3 items-center px-4">
        <a class="text-sm text-blue-500" href="/profile"><i class="ri-arrow-left-s-line"></i> profile</a>
        <h2 class="leading-none ml-[84px] text-xl">Following</h2>
        
      </div>
    <div class="list p-4">
        <div class="user flex items-center gap-4 justify-between py-3 px-1">
            <%following.following.forEach(function(following){%>
                <div class="left flex items-center  gap-4">
                    <div class="imgdiv w-14 h-14 rounded-full overflow-hidden bg-red-600">
                        <img class="object-cover w-full h-full" src="/images/uploads/<%=following.profileImage%>" alt="">
                    </div>
                    <h1 class="text-2xl"><%=following.username%></h1>
                </div>
                <div class="right">
                    <a href="/removeFollowing/<%=following.id%>"><button class="bg-blue-400 rounded-md text-black px-2 text-sm py-1">Remove</button></a>
                </div>
            <%})%>
            
        </div>
    </div>
</div>
<% include ./partials/footer.ejs %>
